<!-- This is for site analytics. -->

<!-- 
Include the domain in the URL reported in goatcounter's dashboard.
This is needed to separate subdomains that would point to the same page name, e.g.
"palaeoverse.palaeoverse.org/getting-started" and "rphylopic.palaeoverse.org/getting-started"

https://goatcounter.com/help/domains
  -->
<script>
    window.goatcounter = {
        path: function (p) { return location.host + p }
    }
</script>

<script data-goatcounter="https://palaeoverse.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>